* {
  cursor: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e52165;
  
}

.title {
  font-size: 10rem;
  color: #0d1137;
}

.cursor {
  background-color: #0d1137; 
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

}